@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
}
.title{
    font-family: "Poppins";
}

.sub-title {
    font-family: "Poppins";
    color: #007bff;
}
.container-main-category {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 20px;
}

.container-category {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

    .container-category:hover {
        transform: scale(1.05);
    }

.category {
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
}

.category-icon i {
    font-size: 40px;
    color: #333;
}

.category-text {
    padding: 10px;
    text-align: center;
    background-color: #fff;
    border-top: 1px solid #ddd;
}

    .category-text p {
        margin: 0;
        font-size: 16px;
        color: #333;
    }

.why-choose-us {
    background-color: #f8f9fa; /* Light background color */
    color: #343a40; /* Dark text color */
    padding: 60px 0;
}

    .why-choose-us h2 {
        font-size: 2.5rem;
        margin-bottom: 40px;
        font-weight: bold;
    }

    .why-choose-us .icon {
        font-size: 60px; /* Larger icons */
        color: #007bff; /* Primary color for icons */
        margin-bottom: 20px;
    }

    .why-choose-us .card {
        background: white;
        border: none;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }

        .why-choose-us .card:hover {
            transform: scale(1.05); /* Slight zoom effect on hover */
        }

    .why-choose-us .card-title {
        font-size: 1.5rem;
        margin-bottom: 15px;
        font-weight: bold;
    }

    .why-choose-us .card-text {
        font-size: 1rem;
    }


