body {
}

.card {
    border: 1px solid #007bff;
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-body {
    text-align: center;
}

.card-icon {
    font-size: 3rem;
    color: #007bff;
}

.card-title {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.card-text {
    margin-bottom: 1.5rem;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}

    .btn-primary:hover {
        background-color: whitesmoke;
        color: #007bff;
        border-color: var(--bs-dark);
    }
