@page
@model Computer_Craft.Pages.AboutModel
@{
    ViewData["Title"] = "About Us";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="~/css/register.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <style>
        body {
            font-family: Karla, sans-serif;
        }

        .about-us {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

            .about-us p {
                margin-bottom: 20px;
                font-size: large;
            }
    </style>
</head>
<body>
    <div class="container mt-5">
        <p class="text-muted text-center">
            <a class="text-muted" href="/Index">Home</a> / About Us
        </p>
        <div class="about-us">
            <h1>About Us</h1>
            <p><span>Welcome to Computer Craft, where our commitment to excellence in the tech industry is at the forefront of everything we do. Established in 2024, we have quickly become a dynamic force in the IT distribution landscape, recognized for our rapid growth and innovation.</span></p>
            <p><span>Despite being a young company, Computer Craft has already made significant strides in developing our online presence. We are proud to share that our website has quickly become a top-ranking platform, offering an extensive range of tech products and accessories. This rapid success is a testament to our dedication to delivering quality and staying ahead in the fast-paced world of technology.</span></p>
            <p><span>At Computer Craft, we connect customers with a wide range of renowned brands. We also welcome new vendors, providing them with a platform to reach a broader audience. By partnering with us, vendors gain a strategic ally ready to introduce their high-quality products to discerning customers.</span></p>
            <p><span>As we continue to grow, Computer Craft remains dedicated to providing our clients with the latest advancements in technology. Our journey is marked by resilience, adaptability, and a relentless pursuit of excellence. We take pride in being an Authorized Distributor for esteemed brands and forming golden partnerships with industry giants, reinforcing our position as a trusted source for cutting-edge tech solutions.</span></p>
            <p><span>Today, Computer Craft stands as a beacon of technological prowess, serving a growing number of clients and expanding our reach. Our comprehensive distribution capability ensures swift and free delivery, making technology accessible to all.</span></p>
            <p><span>We invite you to explore our website, where you will discover a curated selection of products that redefine possibilities. Whether you are a tech enthusiast, a business seeking to upgrade, or an individual in search of the best-in-class, Computer Craft is your partner in navigating the exciting world of technology.</span></p>
            <p><span>Join us on this extraordinary journey, where experience meets expertise, and innovation meets service. At Computer Craft, we don't just embrace the future; we shape it. Welcome to the next chapter of technology – welcome to Computer Craft.</span></p>
        </div>
    </div>
</body>

</html>