@page
@model Computer_Craft.Pages.AboutModel
@{
    ViewData["Title"] = "Return Policy";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="~/css/register.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <style>
        body {
            font-family: Karla, sans-serif;
        }

        .return-policy {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

            .return-policy p {
                margin-bottom: 20px;
            }
    </style>
</head>
<body>
    <div class="container mt-5">
        <p class="text-muted text-center">
            <a class="text-muted" href="/Index">Home</a> / Return Policy
        </p>
        <div class="return-policy">
            <h1>Return Policy Guidelines</h1>
            <p><span>To facilitate a smooth return process, please initiate your return request within the first 3 days of receiving the products by contacting us at computercraft@gmail.com Although we provide complimentary delivery services, customers are responsible for return shipping costs, and items must be shipped to our service center or warehouse, unless an incorrect item was delivered or the product is reported as Dead on Arrival (DOA).</span></p>
            <p><span>Upon email confirmation of the return, we will provide you with a return ID. Please ensure that the items reach our warehouse within 5-7 business days; our warehouse and service center will not accept any RMA without a confirmed ID. In case the product is sealed, a restocking fee of 10%, with a minimum of $10, is applicable to all returns, except in cases where an incorrect item was delivered or the product is reported as Dead on Arrival (DOA).</span></p>
            <p><span>We expect all returned products to be sealed and unopened. In cases where products are opened but not used, they must be in new and unused condition, including original packaging materials and accessories. Otherwise, additional charges may apply, and the customer will receive only 60 to 80% of its original value. To maintain the integrity of our return process, please note that the return of used items is not accepted.</span></p>
            <p><span>Upon receiving the products, our service center will inspect them to ensure they are sealed or in new open box condition, with all original accessories and packaging intact. Any tearing or damage to the original packaging or packing materials may lead to return rejection or a reduction in product value. Customers agree that the service center report is non-negotiable, and the refund value is final based on the service center's final inspection report.</span></p>
            <p><span>Please note that the initiation of a refund will occur after the final report from our service center, and customers have no right to request a refund before 3 business days from the product's receipt by our service center.</span></p>
            <p><span><strong>Additional Notes:</strong></span></p>
            <p><span>Software Orders, once opened, are non-returnable and non-refundable.</span></p>
            <p><span>Items that are purchased upon customer request cannot be returned. Your understanding and cooperation are appreciated.</span></p>
        </div>
</body>
</html>